*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1.5rem;
}

.navbar ul li a:hover{
    color: rgba(95, 95, 95,0.5);
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.right-col p{
    font-size: 1.4rem;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 80px;
    cursor: pointer;
}

.name{
    margin-top: 70px;
    align-items: center;
    margin-left: 36.2%;
    text-align: center;
    width: 400px;
}

.name b{
    font: 400 19vh;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444;
}

.name b span{
    font-size: 1.4rem;
    padding-left: 5px;
    word-spacing: 1.5px;
}

.paused {
    animation-play-state: paused;
}

.play{
    animation-play-state: running;
}

.animate{
    animation: blink linear infinite 2s;
}
@keyframes blink{
    78%{
        color:inherit;
        text-shadow: inherit;
    }

    79%{
        color: #804d4b;
    }

    80%{
        text-shadow: none;
    }

    81%{
        color: inherit;
        text-shadow: inherit;
    }

    82%,50%{
        color: #CAEAE5;
        text-shadow: inherit;
    }

    83%,52%{
        color: inherit;
        text-shadow: inherit;
    }

    90%{
        color: rgb(193, 243, 247);
        text-shadow: none;
    }

    91%{
        color: inherit;
        text-shadow: inherit;
    }
}

.content-text{
    position: relative;
}
.content-text h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 4rem;
    font-weight: 10;
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
}
.content-text h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #fee;
}
.content-text h2:nth-child(2){
    color: #fee;
    animation: animateText 4s ease-in-out infinite;
}

.list-item{
    position: absolute;
    background-color: #f3c8c7;
    z-index: 1;
    margin: 20px 10% 0 -120px;
    padding: 10px 20px 20px 20px;
    top: 45px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transform-origin: 90% top;
    animation: headerListMusic ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
}

.list_music:hover .list-item{
    display: block;
}

@keyframes headerListMusic {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.list-item::before{
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent #f3c8c7 transparent;
    position: relative;
    top: -45px;
    left: 80%;
}

.list-item::after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: -24px;
    width: 100%;
    height: 24px;
    /* background-color: red; */
}

.list-item h2{
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 500;
    border-bottom: 2px solid #fff;
}

.list-item ul{
    position: relative;
}

.list-item ul li{
    position: relative;
    list-style: none;
    display: table;
    margin: 10px 0;
    padding-left: 34px;
    padding-right: 5px;
}

.list-item ul li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    background: transparent;
    border-radius: 34px;
    transition: background 0.5s, width 0.5s;
    transition-delay: 0.5s, 0s;
    border: 2px solid #CAEAE5;
    box-sizing: border-box;
}

.list-item ul li:hover::before{
    width: 100%;
    height: 100%;
    background: #CAEAE5;
    transition-delay: 0s, 0.5s;
    cursor: pointer;
}

.list-item ul li::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 7px;
    height: 6px;
	border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    transform: rotate(-136deg);
    transition: 0.5s;
    transition-delay: 0s;
}

.list-item ul li:hover::after{
    left: 15px;
    transition-delay: 0.5s;
    transform: rotate(224deg) scale(1.2);
    cursor: pointer;
    top: 11px;
}

.list-item ul li:hover p{
    right: -4px;
}

.list-item ul li p{
    position: relative;
    z-index: 10;
    padding: 8px 10px;
    font-weight: 600;
    color: #fff;
    transition-delay: 0.6s;
    transition: right linear 0.2s;
    right: 0;
    
}

.list-item ul li p:hover{
    right: -4px;
    cursor:pointer;  
}

.list-item-effect{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #CAEAE5;
    border-radius: 34px;
}

.symbol{
    font-family: showcase;
    font-size: 1.4rem;
    margin-top: -20px;
    margin-right: -15px
    
}

#icon:hover{
    transform: scale(1.1);
}

.name b span:nth-child(2){
    font-family: svn-oneday;
}


@font-face {
    font-family: showcase;
    src: url(fonts/SVN-Showcase\ Ornaments.ttf);
}

@font-face {
    font-family: svn-oneday;
    src: url(fonts/SVN-One\ Day.otf);
}

@keyframes animateText {
    0%,100%{
        clip-path: polygon(0 55%, 18% 50%, 34% 49%, 51% 54%, 71% 60%, 86% 55%, 100% 44%, 100% 100%, 0 98%);
    }
    50%{
        clip-path: polygon(0 57%, 15% 63%, 32% 67%, 46% 57%, 68% 46%, 86% 46%, 100% 56%, 100% 100%, 0 98%);
    }
}



/* samsung */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .content{
        top: 27%;
    }
    .content-text h2{     
        font-size: 3rem;
        margin-left: 80px;
        margin-top: 0;
    }
    .right-col{
        margin-top: 15px;
    }
    .navbar ul li a{
        float: left;
        display: block;
        font-size: 1.2rem;
        margin-left: 11rem;
    }
    
    .left-col h1{
        font-size: 65px;
    }
    .left-col{
        margin-left: 25%;
    }
    .name{
        width: 100%;
        height: 30%;
        margin-top: 270px;
        margin-left: -10px;
        text-align: center;

    }
   
    .symbol{
        margin-right: -20px;
    }

    .navbar ul li{
        margin: 2px 15px;
    }

    .navbar ul {
        display: block !important;
    }

    .list-item::before{
        display: none;
    }

    .list-item{
        margin-left: 0;
        margin-top: 125px;
        padding-bottom: 10px;
    
    }

    .list-item-header{
        text-align: center;
    }
    #tab{
        width: 315px ;
    }
    #tab li{ 
        padding-left: 5px;
        margin: 10px 0 10px 0px;
    }

    #tab li p{
        padding-left: 36px;
    }
}
