*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #5f5f5f;
    font-size: 1.5rem;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.left-col{
    margin-left: 6%;
}

.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 110px;
    float: left;
}

.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}

.right-col p{
    font-size: 1.4rem;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}

#icon{
    width: 80px;
    cursor: pointer;
}

.name{
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-left: 43%;
}

.name b{
    font: 400 19vh;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444;
}

.name b span{
    font-size: 1.4rem;
}

.paused {
    animation-play-state: paused;
}

.play{
    animation-play-state: running;
}

.animate{
    animation: blink linear infinite 2s;
}
@keyframes blink{
    78%{
        color:inherit;
        text-shadow: inherit;
    }

    79%{
        color: #804d4b;
    }

    80%{
        text-shadow: none;
    }

    81%{
        color: inherit;
        text-shadow: inherit;
    }

    82%,50%{
        color: #CAEAE5;
        text-shadow: inherit;
    }

    83%,52%{
        color: inherit;
        text-shadow: inherit;
    }

    90%{
        color: rgb(193, 243, 247);
        text-shadow: none;
    }

    91%{
        color: inherit;
        text-shadow: inherit;
    }
}

.content-text{
    position: relative;
}
.content-text h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 4rem;
    font-weight: 10;
    margin-left: 100px;
    margin-top: 10px;
    cursor: pointer;
}
.content-text h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #fee;
}
.content-text h2:nth-child(2){
    color: #fee;
    animation: animateText 4s ease-in-out infinite;
}
@keyframes animateText {
    0%,100%{
        clip-path: polygon(0 55%, 18% 50%, 34% 49%, 51% 54%, 71% 60%, 86% 55%, 100% 44%, 100% 100%, 0 98%);
    }
    50%{
        clip-path: polygon(0 57%, 15% 63%, 32% 67%, 46% 57%, 68% 46%, 86% 46%, 100% 56%, 100% 100%, 0 98%);
    }
}